<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <article>
            <h1>Queries</h1>
            <ul>
                <% queries.forEach(function(q) { %>
                <li><%= q.subreddit %></li>
                <% }); %>
            </ul>
        </article>
        <article>
            <h3>Add new</h3>
            <form action="/query/add" method="post">
                <div>
                    <div>
                        <label for="subreddit">Subreddit</label>
                        <input type="text" name="subreddit" />
                    </div>
                    <div>
                        <label for="include_over_18">NSFW</label>
                        <input type="checkbox" name="include_over_18" />
                    </div>
                    <div>
                        <label for="sort">Sort by</label>
                        <select name="sort">
                            <option value="hot"></option>
                            <option value="relevance">Relevance</option>
                            <option value="hot"></option>
                            <option value="hot"></option>
                        </select>
                    </div>
                    <button type="submit">Add</button>
                </div>
            </form>
        </article>
    </body>
</html>
