* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.89rem;
}

body,
html {
    margin: 0;
    padding: 0;
    min-width: fit-content;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

h3 {
    font-size: larger;
}

h4 {
    font-size: medium;
}

body,
html,
textarea,
input,
select,
option {
    background-color: #212121;
    color: #fff;
}

button {
    outline: none;
    border: none;
}

.nav {
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav > a {
    flex: 1;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .posts {
        width: 95vw !important;
    }
}

.posts {
    margin-top: 50px;
    overflow-x: hidden;
    width: 50vw;
}

.post {
    padding: 8px;
    margin-bottom: 4px;
    border-radius: 2px;
    border: 2px solid #666;
}

.title {
    font-size: larger;
    padding: 4px;
    font-weight: 500;
}

.meta {
    font-size: smaller;
    color: #aaa;
    padding: 4px;
}

.up {
    font-weight: bold;
    color: orangered;
}

.down {
    font-weight: bold;
    color: lightskyblue;
}

.nsfw {
    font-weight: bolder;
    background-color: red;
    padding: 4px;
}

.accept {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.accept > button {
    flex: 1;
    text-align: center;
    padding: 8px;
    outline: none;
    border: none;
}

.ok {
    background-color: #0f0 !important;
}

.reject {
    background-color: #f00 !important;
}

.top {
    margin-top: 40px;
}

.query-list {
    border: 1px solid #666;
    width: 100vw;
}

.query-list td {
    border: 1px solid #333;
}

.query-list th {
    text-align: left;
}

.button {
    padding: 8px;
    border-radius: 4px;
    background-color: #565656;
    color: #fff;
    outline: none;
    border: none;
}

.button:hover {
    background-color: #aaa;
    color: #000;
}

.create li {
    padding: 8px;
}

.create input,
.create select {
    padding: 4px;
    border: 2px solid #666;
    border-radius: 2px;
    outline: none;
}

.create input:focus {
    border-color: #00faaf;
}

.create option {
    padding: 4px;
    background-color: #343434;
}

.tip {
    font-size: small;
    color: #aaa;
    padding: 4px;
}

.p-2 {
    padding: 6px;
}
